<div class="drawer lg:drawer-open">
  <input
    id="main-drawer"
    type="checkbox"
    class="drawer-toggle"
    [(ngModel)]="drawerOpen"
  />

  <div class="drawer-content flex flex-col min-h-screen">
    <app-header (toggleDrawer)="toggleDrawer()"></app-header>

    <main class="flex-1 bg-base-200">
      <router-outlet></router-outlet>
    </main>
  </div>

  <app-toast></app-toast>

  @if (showWorkspaceSelect) {
    <app-workspace-select-modal></app-workspace-select-modal>
  }

  <div class="drawer-side">
    <label for="main-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <app-sidebar></app-sidebar>
  </div>
</div>
